* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.floating-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

main {
    margin-bottom: 20px;
}

main .dashboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.dashboard .card {
    background: #e2f0f1;
    padding: 15px;
    border: 3px solid #89b3b8;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1.5em;
    color: #50b3a2;
}

.control-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.control-input .form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

.form button {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-self: center;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calories-burn-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.history {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history h2 {
    margin-bottom: 10px;
    text-align: center;
}

#meal-history {
    list-style: none;
    padding: 0;
}

#meal-history li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-radius: 4px;
}

.meal-item {
    border-left: 5px solid #e74c3c;
}

.burn-item {
    border-left: 5px solid #2ecc71;
}